<!-- Main Content -->
<div class="container">
  <nav aria-label="fil d'ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="lien">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">L'accessibilité en situation de handicap auditif</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto contenu">
      <p>Si nous vous demandions de rendre accessible un média mêlant images et sons à des personnes personnes sourdes ou malentendantes,
        il est très probable que vous proposeriez d'inclure des <em><span class="bold">sous-titres</span></em>. Et nous pouvons remarquer que cet élément est déjà présent
        dans la <em><span class="bold">majorité des jeux vidéo</span></em>, et qu'il s'agit même d'une fonctionnalité <em><span class="bold">activé par défaut</span></em> ! Il s'agit d'un élément devenu assez
        commun pour que des joueurs et joueuses qui n'ont pas de problèmes auditifs remarquent leur absences et/ou les activent.</p>

      <hr>

      <h2>Avantages des sous-titres</h2>
      <p>Les sous-titres présentent <em><span class="bold">plusieurs avantages</span></em> autres que l'accessibilité pour les personnes sourdes ou malentendantes.
      Pour les studios ne disposant pas de gros moyens pour l'exportation à l'international, il s'agit d'un <em><span class="bold">moyen efficace pour permettre
          l'accès au jeu sans avoir à refaire le doublage</span></em>. Les sous-titres permettent aussi un <em><span class="bold">moyen parallèle pour transmettre une information</span></em>
        lors de dialogue, sous-titre dans lesquelles des <em><span class="bold">éléments important pourront même être sublimer en mettant de l'emphase</span></em> sur ces éléments.</p>

      <hr>

      <h2>Problèmes liés aux sous-titres</h2>
      <h3>Premier problème</h3>
      <p>On peut remarquer tout de suite <em><span class="bold">un (premier) problème</span></em> pour les personnes sourdes et malentendantes : bien que les
        sous-titres soient souvent utilisés, ils sont utilisés généralement <em><span class="bold">pour retranscrire uniquement le <span class="underlined">contenu</span> des dialogues</span></em> mais
        pas les autres éléments sonores. Rendant ainsi <em><span class="bold">impossible l’accès à certaines informations</span></em> comme l’existence d’un son inquiétant
      dans un jeu d’horreur, ou même le bruit d’une rivière provenant d’une direction. Ce faisant, ces informations occultés pourraient
        <em><span class="bold">empêcher la bonne progression dans un jeu</span></em> ou tout simplement <em><span class="bold">nuire à l’immersion</span></em>.</p>

      <h3>Second problème</h3>
      <p>Le <em><span class="bold">second problème</span></em> que l’on peut rencontrer dans les jeux vidéos par rapports aux sous-titres est <em><span class="bold">la forme</span></em>. En effet, ces derniers sont parfois tout <em><span class="bold">simplement
        illisibles</span></em> : <em><span class="bold">police trop petite</span></em> ou <em><span class="bold">contraste texte/fond trop faible</span></em>. Il arrive aussi que le sous-titre soit <em><span class="bold">trop long en contenu</span></em> et/ou <em><span class="bold">avec un temps d’affichage
        trop court</span></em>.</p>


      <hr>
      <h2>Exemple de bonne pratique avec Minecraft</h2>
      <p>On pourra citer <em><span class="bold">Minecraft</span></em> qui fait preuve d’une bonne pratique d’utilisation des sous-titres : Dans ce jeu,
        malgré l’inexistance de dialogues ou de répliques, il y a <em><span class="bold">dans les options</span></em> du jeu la possibilité d’<em><span class="bold">activer des sous-titres</span></em>.
        Ce qui pourrait sembler étonnant aux premiers abords, mais ces derniers sont là pour pouvoir <em><span class="bold">retranscrire les sons ambiants</span></em> ainsi
        que <em><span class="bold">la direction</span></em> par rapport aux joueuses et joueurs de <em><span class="bold">la provenance de ces sons</span></em>. On remarque qu’ici la police
      est bien contrasté : couleur blanche, contour noir et sur un fond noir transparent. La police nous semble claire mais elle pourrait peut-être ne pas convenir à des personnes dyslexiques.</p>

      <img class="image-contenu" src="assets/minecraft02.png" width="100%" alt="Capture d'écran du jeu Minecraft montrant la retranscription des sons ambiants dans le jeu." /><br />

      <hr>
      <h2>Conclusion</h2>
      <p>Nous pensons qu’en matière d’accessibilité pour les personnes sourdes ou malentendantes, <em><span class="bold">les jeux vidéos peuvent facilement mettre place une solution simple par
        les sous-titres</span></em>. Malgré leur présences dans la plupart des jeux, ils ne transmettent pas toutes les informations transmises en audio et se contentent d’afficher
      les lignes de dialogues en plus d’avoir un défaut de lisibilité. Pour rendre les jeux vidéos plus accessibles aux personnes sourdes ou malentendantes, il faut <em><span class="bold">ajouter
          des sous-titres, adapter leur forme et y retranscrire toutes les informations audibles importantes</span></em>.</p>

    </div>
  </div>
</div>
