<!-- Main Content -->
<div class="container">
  <nav aria-label="fil d'ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="lien">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">Plan du site</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul>
        <li>
          <a href="/index">Accueil</a>
          <ul>
            <li><a href="/page1">Handicap visuel</a></li>
            <li><a href="/page2">Handicap moteur</a></li>
          </ul>
        </li>
        <li><a href="/page3">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<hr>
