<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <div id="intro" class="post-subtitle border border-info rounded">
          <p>Le jeu vidéo est un média que l'on dit généralement <em><b>grand public</b></em>. Il serait légitime à penser que cela traduit d'un côté <em><b>la grande diversité des expériences proposées</b></em>
            mais aussi une <em><b>large accessibilité</b></em>. Ainsi, rien de plus normal que de penser qu'il s'agit d'un média accessible aussi aux personnes en situation de handicap.
            Nous verrons ainsi à travers ce site <em><b>comment les jeux vidéo sont accessibles</b></em> (s'ils le sont, à quel degrès) et <em><b>les solutions qui existent</b></em> pour permettre une
            plus grande accessibilité.</p>
        </div>
        <hr>
        <a href="/page1">
          <h2 class="post-title" id="title1">
            L'accessibilité en situation de handicap visuel
          </h2>
        </a>
        <p class="post-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mi, nec auctor leo. Phasellus rutrum nec nisi ac venenatis. Mauris at condimentum elit. Aliquam placerat felis in dapibus egestas. In at libero tellus. In eleifend nec sem id bibendum. Donec enim justo, aliquam ut maximus sed, vestibulum vehicula purus. <br/> Donec ligula neque, scelerisque vel venenatis eu, porta id massa.
          <br/><br/>In iaculis tincidunt mi, sit amet sollicitudin libero tempus quis. Donec venenatis, nisl quis dictum dictum, felis lectus suscipit enim, ac laoreet dolor libero id eros. In eu neque facilisis, imperdiet sem nec, sodales massa. Pellentesque sed cursus neque, id porttitor leo. Aenean ultrices, tellus vitae lobortis tristique, magna ex scelerisque est, vel cursus dolor metus non quam. Phasellus sed auctor turpis, in ornare massa. Pellentesque ac metus ut felis eleifend tempor in ut turpis. Duis bibendum malesuada lacus nec blandit.
        </p>
        <p class="post-meta">
          <!-- TODO: described by -->
          <a href="/page1" aria-describedby="title1">En savoir plus</a>
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="/page2">
          <h2 class="post-title" id="title2">
            L'accessibilité en situation de handicap moteur
          </h2>
        </a>
        <p class="post-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus quam urna, in ultricies tellus eleifend sed. Donec ultricies nisl nec aliquet tincidunt. Sed rhoncus a nulla sit amet molestie. Cras ut turpis vitae tellus efficitur tristique semper ut dui. In aliquam elit vel eros ornare, ac eleifend nisi consectetur. Morbi tempus ullamcorper erat.<br /> Etiam interdum est ut risus vehicula facilisis. Mauris suscipit ligula nec elementum volutpat. Proin porta venenatis tristique. Phasellus nec urna porta, semper justo at, iaculis dolor. Nunc feugiat erat ac posuere maximus. Nam quis arcu elit.

          <br /><br />Morbi a neque blandit, viverra urna vel, rutrum justo. Proin id nisi eu augue facilisis porttitor ac at lorem. Cras vel tempor lectus, eu ullamcorper est.<br /> Nunc pellentesque lacinia lacus auctor mattis. Nullam eget tellus nisl. Aenean id auctor neque, et cursus libero.<br /> Vivamus rhoncus lobortis enim in egestas.
        </p>
        <p class="post-meta">
          <a href="/page2" aria-describedby="title2">En savoir plus</a>
        </p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="/page5">
          <h2 class="post-title" id="title3">
            L'accessibilité en situation de handicap auditif
          </h2>
        </a>
        <p class="post-subtitle">Si nous vous demandions de rendre accessible un média mêlant images et sons à des personnes personnes sourdes ou malentendantes,
          il est très probable que vous proposeriez d'inclure des <em><b>sous-titres</b></em>. Et nous pouvons remarquer que cet élément est déjà présent
          dans la <em><b>majorité des jeux vidéo</b></em>, et qu'il s'agit même d'une fonctionnalité <em><b>activé par défaut</b></em> ! Il s'agit d'un élément devenu assez
          commun pour que des joueurs et joueuses qui n'ont pas de problèmes auditifs remarquent leur absences et/ou les activent.
        </p>
        <p class="post-meta">
          <a href="/page5" aria-describedby="title3">En savoir plus</a>
        </p>
      </div>
    </div>
  </div>
</div>

<hr>
