<!-- Main Content -->
<div class="container">
  <nav aria-label="fil d'ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="lien">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">L'accessibilité en situation de handicap visuel</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto contenu">
      <p>Les jeux vidéo ont pour <em><span class="bold">composantes principales : l’interaction et la vidéo</span></em>. Bien qu’il ne s’agisse pas à proprement
        parler de vidéo, cet aspect est la <em><span class="bold">partie graphique</span></em> qui va <em><span class="bold">proposer l’interaction</span></em> avec les joueurs et joueuses. De fait,
        si l’on aborde la question de l’handicap visuel, on peut tomber dans le travers de penser que c’est <em><span class="bold">par nature un média
          discriminant</span></em> pour les personnes en situation de handicap visuel, et que par définition, un Jeu Vidéo <em><span class="bold">ne peut pas être accessible</span></em>
        pour ces personnes. Cependant, c’est réduire la question de l’handicap visuel à la cécité et négliger le daltonisme et la malvoyance.
      </p>

      <p>
        Tout d’abord, revenons sur une affirmation : non <em><span class="bold">la vidéo n’est pas une composante principale</span></em>. Le véritable aspect qui prime
        dans le jeux vidéo va être son interactivité : <em><span class="bold">permettre aux personnes d’interagir</span></em> avec le média pour les amener à <em><span class="bold">avoir
        un impact sur leur environnement</span></em> et/ou pour les amener à <em><span class="bold">être immergées</span></em> dans une expérience. La <em><span class="bold">vidéo est un moyen de
        transmettre de l’information</span></em> tout comme le son. Ainsi le jeu vidéo peut être accessible.
      </p>

      <hr>

      <h2>Cécité</h2>
      <p>
        Dans le cadre de la cécité, <em><span class="bold">l’enjeux majeur est de pouvoir transmettre les informations sans la vidéo</span></em>. Tout d’abord,
        on peut remonter dans les premiers âges du jeux vidéo et parler des RPG (ndla : Role Playing Game en anglais ou Jeux
        de Rôle). Ceux-ci étaient, dans ces temps, des <em><span class="bold">aventures entièrement textuelles</span></em>, l’écran n’affichant que du texte.
        Les joueuses et joueurs devaient <em><span class="bold">pour progresser écrire aux claviers</span></em> des mots-clé ou des phrases . Ainsi ce genre
        de jeux textuelles peuvent se rendre accessibles en proposant soit <em><span class="bold">un doublage</span></em>, soit <em><span class="bold">l’accessibilité des textes
        par un lecteur d’écran</span></em>.
      </p>

      <p>
        Il serait faux de penser qu’il s’agit du seul genre de Jeu Vidéo pouvant être accessible. Comme on l’a évoqué,
        <em><span class="bold">l’important est la transmission de l’information</span></em>, et un <em><span class="bold">moyen alternatif pour ce faire est l’audio</span></em>. Mais il
        n’est pas obligatoire qu’il y ait une audio description de ce qui se produit à l’écran pour rendre d’autre
        genre accessible - bien qu’il s’agirait d’une solution à explorer. En effet, les <em><span class="bold">effets sonores peuvent suffir</span></em>
        pour renseigner sur ce passe dans le monde numérique.
      </p>

      <p>
        On peut citer <em><span class="bold">« a Blind Legend »</span></em> qui est un <em><span class="bold">jeu d’aventure et de combat d’épée</span></em> sur mobile qui se dispense
        complètement de vidéo. Mais sans forcément faire des jeux vidéo penser pour les aveugles, comme pour celui
        cité précédemment, on peut citer : <em><span class="bold">Street Fighter</span></em>, un jeu de combat, et <em><span class="bold">Oddworld: Abe's Exoddus</span></em> un jeu de
        plateforme - aventure. Ces derniers ont tous deux étaient fini par une personnes atteinte de cécité grâce
        aux effets sonores suffisamment riches permettant la distinctions des différentes actions.
      </p>
      Lien :
      <a href="http://www.oddworld.com/2011/02/introducing-terry-garrett-a-man-possessing-a-gaming-achievement-better-than-yours/" target="_blank">
        <span lang="en-US">
          Introducing Terry Garrett; a man possessing a gaming achievement better than yours.
        </span>
      </a>
      <hr>
      <a class="evitement btn btn-dark" href="handicap-visuel#after-video1"> Passer la video </a>
        <iframe width="100%" height="456" src="https://www.youtube.com/embed/nyZ6x87po2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a id="after-video1"></a>

      <hr>
      <h2>Daltonisme</h2>
      <p>
        On pourrait croire que le <em><span class="bold">daltonisme est un handicap mineur</span></em>, n’engendrant pas de problème particulier dans la
        pratique du jeux vidéo, <em><span class="bold">réduisant la problématique à une simple question de direction artistique</span></em>. Et on le
        retrouve malheureusement dans les pratiques des développeurs et développeuses, qui se contentent généralement
        de <em><span class="bold">retranscrire les couleurs pour les rendre juste lisibles</span></em>. Parfois, le mode daltonien n’étant <em><span class="bold">pensé qu’assez
          tard dans le processus de création</span></em> d’un jeu vidéo. Et même si l’existence de ce mode comme simple adaptations des
        couleurs peut être honorable, ça <em><span class="bold">passe à côté d’un aspect importants</span></em> que nous avons déjà parlé : la <em><span class="bold">transmission d’information</span></em>.
      </p>

      <p>
        En effet, les jeux d’équipes font partie des jeux où la couleur est particulièrement importantes, car il s’agit là de pouvoir faire
        la distinction entre les équipes - et éviter de tirer sur ses camarades ou marquer un but contre son camp. Il faut alors
        <em><span class="bold">penser au plus tôt dans le processus créatif à une bonne gestion des couleurs</span></em> pour que celles-ci soit distinguables par le
        plus grand nombre. Sinon, il peut être possible de <em><span class="bold">passer par un autre moyen</span></em> (et supplémentaire) que la couleurs pour faire de
        la distinction et dispense d’informations : par exemple <em><span class="bold">l’usage de symboles</span></em>.
      </p>

      <h2>Malvoyance</h2>
      <p>
        La malvoyance est un handicap mal compris étant donnée qu’il regroupe plusieurs troubles visuels derrière une même appellation.
        Et parfois, il est compris comme une vue demandant une forte correction, voire qu’avec cette correction, la vue n’est pas
        suffisante pour avoir une lecture agréable. Ces personnes auront du mal à obtenir les informations visuels correctements,
        ainsi une solution à mettre en oeuvre que l’on peut rappeler : <em><span class="bold">intégrer des effets sonores riches et variés</span></em>. Cela permettra
        de faire la distinction entre différentes actions du Jeu vidéo.
      </p>

      <p>
        Un <em><span class="bold">aspect important pour permettre l’accessibilité</span></em> est <em><span class="bold">d’avoir une interface claire</span></em> qui lorsqu’elle doit donner
        des informations, doit les afficher de sorte qu’elle <em><span class="bold">reste lisible même une fois éloigné de l’écran</span></em>. En effet,
        bien que les jeux vidéo peuvent se jouer sur pc, il ne faut pas négliger l’existence des consoles. Les joueurs et
        joueuses sont parfois éloignés de leurs écrans ou doivent faire face à de petits écrans telles que l’on retrouve
        sur les smartphone ou consoles portables. Il est important de <em><span class="bold">disposer les informations de manière à ce qu’elles
        soient lisibles</span></em>. Le problème les plus récurrents étant la <em><span class="bold">lisibilité des polices</span></em>, ainsi il suffira d’utiliser des
        <em><span class="bold">polices claires, contrastés et assez grandes</span></em>, à l’instar des sous-titres. De plus, quant au positionnement des
        informations sur l’écran et leur taille, le mieux à faire resterait de <em><span class="bold">laisser la possibilité aux utilisatrices
        et utilisateurs de modifier à leurs convenance</span></em> ces propriétés à travers des menus d’options.
      </p>
    </div>
  </div>
</div>
