.border-light {
 border-width: 0.1rem !important;
}

.header-buttons {
  margin-left: 1rem;
}

.dropdown-menu-liste {
  background-color: dimgrey;
}

#footer-links {
  list-style: none;
  display: inline-block;
}
