<form method="post" action="/">
  <h1>Contact</h1>
  <p><small>Les champs obligatoires sont marqués par *</small></p>
  <!-- Civilité -->
  <fieldset>
    <legend>Civilité</legend>
    <ul>
      <li>
        <input type="radio" name="civilite" id="civilite1" value="Mme" />
        <label for="civilite1">Mme</label>
      </li>
      <li>
        <input type="radio" name="civilite" id="civilite2" value="M." />
        <label for="civilite2">M.</label>
      </li>
      <li>
        <input type="radio" name="civilite" id="civilite3" value="Autre" />
        <label for="civilite3">Autre</label>
      </li>
    </ul>
  </fieldset>

  <!-- Nom -->
  <label for="nom" >
    Nom *
    <input type="text" id="nom" name="nom" required="required" />
    <span id="erreurNom" style="color:red;">Veuillez renseigner votre nom</span>
  </label>
  <br />
  <!-- Age -->
  <label for="age">Âge</label>
  <select name="age" id="age">
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
  </select>
  <br />

  <!-- Date -->
  <label for="date">
    Date
    <input type="text" name="date" id="date" value="24/01/2020" aria-describedby="helpDate erreurDate" aria-invalid="true" />
  </label>
  <small id="helpDate">Format : JJ/MM/AAAA</small>
  <p id="erreurDate">Le format de date renseigné est invalide. (format attendu : JJ/MM/AAAA)</p>
  <br />
  <input type="submit" value="Envoyer"/>
</form>
