<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="evitement btn btn-light" href="{{pageName}}#main"> Aller au contenu </a>
    <a class="evitement btn btn-light" href="{{pageName}}#footer"> Aller au footer </a>
    <a class="navbar-brand" href="index.html">Game-Access</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/index']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/page1']">Option 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/page2']">Option 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/page3']">Option 3</a>
        </li>
      </ul>
      <button class="btn btn-light" (click)="changeContrast()"><i class="fa fa-adjust"></i></button>

    </div>
  </div>
</nav>

<!-- Page Header -->
<header class="masthead" style="background: #212529">
  <div *ngIf="pageName === '/index' ||
              pageName === '/index#main' ||
              pageName === '/index#footer' ||
              pageName === '/' ||
              pageName === undefined"
       class="overlay {{overlayTypeGeneral}}" style="background-image: url('assets/0.jpg')"></div>
  <div *ngIf="pageName === '/page1' " class="overlay {{overlayTypeGeneral}}" style="background-image: url('assets/1.jpg')"></div>
  <div *ngIf="pageName === '/page2'" class="overlay {{overlayTypeGeneral}}" style="background-image: url('assets/2.jpg')"></div>
  <div *ngIf="pageName === '/page3'" class="overlay {{overlayTypeGeneral}}" style="background-image: url('assets/3.jpg')"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div *ngIf="pageName === '/index' || pageName === '/' || pageName === undefined" class="site-heading">
          <h1>Accessibilité dans les jeux vidéo</h1>
          <span class="subheading">TAHRI Yassine & ANGELINA Sacha</span>
        </div>
        <div *ngIf="pageName === '/page1'" class="site-heading">
          <h1>Page 1</h1>
        </div>
        <div *ngIf="pageName === '/page2'" class="site-heading">
          <h1>Page 2</h1>
        </div>
        <div *ngIf="pageName === '/page3'" class="site-heading">
          <h1>Page 3</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<a id="main" tabindex="-1"></a>
<router-outlet></router-outlet>

<!-- Footer -->
<a id="footer" tabindex="-1"></a>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          <button class="btn btn-dark float-right" (click)="changeContrast()">{{typeContraste}}</button>
        </div>
      </div>
    </div>
  </div>
</footer>
