<!-- Navigation -->
<header class="masthead" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" role="navigation">
    <div>
      <a class="evitement btn btn-light" href="{{getPageName()}}#main"> Aller au contenu </a>
      <a class="evitement btn btn-light" href="{{getPageName()}}#footer"> Aller en bas de page </a>
    </div>
    <div class="container">
      <a class="navbar-brand" href="index.html">Game-Access</a>
      <div class="collapse navbar-collapse topnav">
        <ul class="navbar-nav ml-auto" id="myTopnav">

          <!-- INDEX -->

          <li *ngIf="isPageSelected('index') as value; else elseBlock0" class="nav-item">
            <a aria-current="page" class="nav-link border border-light rounded" href="index">Accueil</a>
          </li>
          <ng-template #elseBlock0>
            <li class="nav-item">
              <a class="nav-link" href="index">Accueil</a>
            </li>
          </ng-template>

          <li *ngIf="isPageSelected('handicap-auditif') as value; else elseBlock5" class="nav-item">
            <a aria-current="page" class="nav-link border border-light rounded" href="index">Handicap auditif</a>
          </li>
          <ng-template #elseBlock5>
            <li class="nav-item">
              <a class="nav-link" href="handicap-auditif">Handicap auditif</a>
            </li>
          </ng-template>

          <!-- PAGE 1 -->
          <li *ngIf="isPageSelected('handicap-visuel') as value; else elseBlock1" class="nav-item">
            <a aria-current="page" class="nav-link border border-light rounded" href="handicap-visuel">Handicap visuel</a>
          </li>
          <ng-template #elseBlock1>
            <li class="nav-item">
              <a class="nav-link" href="handicap-visuel">Handicap visuel</a>
            </li>
          </ng-template>

          <!-- PAGE 2 -->
          <li *ngIf="isPageSelected('handicap-moteur') as value; else elseBlock2" class="nav-item">
            <a aria-current="page" class="nav-link border border-light rounded" href="handicap-moteur">Handicap moteur</a>
          </li>
          <ng-template #elseBlock2>
            <li class="nav-item">
              <a class="nav-link" href="handicap-moteur">Handicap moteur</a>
            </li>
          </ng-template>


          <!-- PAGE 3 -->
          <li *ngIf="isPageSelected('page-contact') as value; else elseBlock3" class="nav-item">
            <a aria-current="page" class="nav-link border border-light rounded" href="page-contact">Contact</a>
          </li>
          <ng-template #elseBlock3>
            <li class="nav-item">
              <a class="nav-link" href="page-contact">Contact</a>
            </li>
          </ng-template>

        </ul>


        <div>
          <button type="button" aria-label="Changer le mode de contraste" alt="Changer le mode de contraste" class="btn btn-light header-buttons" (click)="changeContrast()">
            <em class="fa fa-adjust"></em>
          </button>
          <button [attr.aria-expanded]="clickHamburger? true: false" type="button" class="btn btn-light header-buttons" id="hamburger" [attr.aria-label]="(clickHamburger? 'fermer':'ouvrir') + ' le menu de navigation'" (click)="changeHamburger()" >
            <em [attr.class]="clickHamburger? 'fa fa-times':'fa fa-bars'" aria-hidden="true"></em>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="clickHamburger" class="container" id="dropdown-menu">
      <ul class="navbar-nav ml-auto dropdown-menu-liste">
        <!-- INDEX -->
        <li *ngIf="isPageSelected('index') as value; else elseBlock0" class="nav-item">
          <a aria-current="page" class="nav-link border border-light rounded" href="index">Accueil</a>
        </li>
        <ng-template #elseBlock0>
          <li class="nav-item">
            <a class="nav-link" href="index">Accueil</a>
          </li>
        </ng-template>

        <!-- PAGE 5 -->
        <li *ngIf="isPageSelected('handicap-auditif') as value; else elseBlock5" class="nav-item">
          <a aria-current="page" class="nav-link border border-light rounded" href="handicap-auditif">Handicap auditif</a>
        </li>
        <ng-template #elseBlock5>
          <li class="nav-item">
            <a class="nav-link" href="handicap-auditif">Handicap auditif</a>
          </li>
        </ng-template>

        <!-- PAGE 1 -->
        <li *ngIf="isPageSelected('handicap-visuel') as value; else elseBlock1" class="nav-item">
          <a aria-current="page" class="nav-link border border-light rounded" href="handicap-visuel">Handicap visuel</a>
        </li>
        <ng-template #elseBlock1>
          <li class="nav-item">
            <a class="nav-link" href="handicap-visuel">Handicap visuel</a>
          </li>
        </ng-template>

        <!-- PAGE 2 -->
        <li *ngIf="isPageSelected('handicap-moteur') as value; else elseBlock2" class="nav-item">
          <a aria-current="page" class="nav-link border border-light rounded" href="handicap-moteur">Handicap moteur</a>
        </li>
        <ng-template #elseBlock2>
          <li class="nav-item">
            <a class="nav-link" href="handicap-moteur">Handicap moteur</a>
          </li>
        </ng-template>

        <!-- PAGE 3 -->
        <li *ngIf="isPageSelected('page-contact') as value; else elseBlock3" class="nav-item">
          <a aria-current="page" class="nav-link border border-light rounded" href="page-contact">Contact</a>
        </li>
        <ng-template #elseBlock3>
          <li class="nav-item">
            <a class="nav-link" href="page-contact">Contact</a>
          </li>
        </ng-template>
      </ul>

    </div>
  </nav>

  <!-- Page Header -->
  <div *ngIf="checkPage('index') || this.pageName === undefined"  class="overlay {{overlayTypeGeneral}}"
       style="background: url('assets/0.jpg') no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;">
  </div>

  <div *ngIf="checkPage('handicap-auditif')" class="overlay {{overlayTypeGeneral}}" style="background: url('assets/3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  </div>

  <div *ngIf="checkPage('handicap-visuel')" class="overlay {{overlayTypeGeneral}}" style="background: url('assets/1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  </div>

  <div *ngIf="checkPage('handicap-moteur')" class="overlay {{overlayTypeGeneral}}" style="background: url('assets/2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  </div>

  <div *ngIf="checkPage('page-contact')" class="overlay {{overlayTypeGeneral}}" style="background: url('assets/4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  </div>

  <div *ngIf="checkPage('plan-du-site')"  class="overlay {{overlayTypeGeneral}}" style="background: url('assets/0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <div *ngIf="checkPage('index') ||
            this.pageName === undefined" class="site-heading">
          <h1>Accessibilité dans les jeux vidéo</h1>
          <span class="subheading">TAHRI Yassine & ANGELINA Sacha</span>
        </div>

        <div *ngIf="checkPage('handicap-visuel')" class="site-heading">
          <h1>L'accessibilité en situation de handicap visuel</h1>
        </div>

        <div *ngIf="checkPage('handicap-moteur')" class="site-heading">
          <h1>L'accessibilité en situation de handicap moteur</h1>
        </div>

        <div *ngIf="checkPage('page-contact')" class="site-heading">
          <h1>Contact</h1>
        </div>

        <div *ngIf="checkPage('plan-du-site')" class="site-heading">
          <h1>Plan du site</h1>
        </div>

        <div *ngIf="checkPage('handicap-auditif')" class="site-heading">
          <h1>L'accessibilité en situation de handicap auditif</h1>
        </div>

      </div>
    </div>
  </div>
</header>

<a id="main" tabindex="-1"></a>
<div role="main">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<a id="footer" tabindex="-1"></a>
<footer role="contentinfo" id="content-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="clearfix">
          <ul id="footer-links">
            <li><a href="/page-contact" class="lien">Nous contacter</a></li>
            <li><a href="/plan-du-site" class="lien">Plan du site</a></li>
          </ul>
          <button type="button" class="btn btn-light float-right" id="footer-button" (click)="changeContrast()">{{typeContraste}}</button>
        </div>
        <p class="foot-text text-light">Projet d'accessibilité numérique - TAHRI Yassine & ANGELINA Sacha</p>
      </div>
    </div>
  </div>
</footer>
