.border-light {
 border-width: 0.1rem !important;
}

.header-buttons {
  margin-left: 1rem;
}

.dropdown-menu-liste {
  background-color: dimgrey;
}

#footer-links {
  list-style: none;
  display: inline-block;
}

#content-info {
  background-color: #1b1f25;
  margin-top: 2rem;
}

.lien {
  color: #18A780;
}

.lien:focus {
  color: #0285F8 !important;
}

.lien:hover {
  color: #0285F8 !important;
}

#footer-button {
  font-weight: bold;
}
