<!-- Main Content -->
<div class="container">
  <nav aria-label="fil d'ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="lien">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">L'accessibilité en situation de handicap moteur</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        Dans le cadre d’autres handicaps, en général, on peut trouver une solution uniquement logiciel, mais avec un
        handicap moteur, les jeux vidéo sont plutôt <em><span class="bold">inaccessible de manière matériel</span></em>. Ces joueurs et joueuses n’ont pas
        de problèmes pour acquérir les informations, le <em><span class="bold">problème est de pouvoir interagir</span></em>. Ainsi ce sont les moyens de
        contrôles qui doivent être adaptés.
      </p>
      <hr>
      <h2>Solution logiciel</h2>
      <p>
        Dès lors, il faut permettre la <em><span class="bold">personnalisation des touches</span></em>, c’est-à-dire, laisser aux joueurs  et joueuses la
        possibilité de <em><span class="bold">configurer les contrôles et raccourcis</span></em>. Il s’agit d’une fonctionnalité qui est déjà répandu
        sur ordinateur mais moins largement sur les consoles - cela étant dû que les consoles ont leurs contrôleurs
        propriétaires. Une autre pratique, en matière logicielle pour faciliter l'accès aux jeux, est d’<em><span class="bold">adapter le gameplay</span></em>,
        la manière dont ont doit jouer pour pouvoir progresser. Ainsi permettre par exemple aux personnes le désirants,
        la <em><span class="bold">possibilité de passer des séquences de jeu « trop dures »</span></em> (ou infaisable avec le contrôleur actuel), possibilité
        d’<em><span class="bold">être invincible</span></em>, etc.
      </p>
      <h2>Solution matériel</h2>
      <p>
        Pour ce qui est du côté matérielle, on peut imaginer de <em><span class="bold">nouvelle manière d'interagir</span></em> comme du contrôle vocales ou
        de l’eye-tracking. Mais ces solutions ne sont <em><span class="bold">pas forcément adaptable</span></em> pour tous les jeux et/ou supports. Mais en
        matière contrôleur, à part Microsoft qui a sorti le <a href="https://www.xbox.com/fr-FR/xbox-one/accessories/controllers/xbox-adaptive-controller">Xbox Adaptative Controller</a>
        qui est une <em><span class="bold">manette entièrement modulable</span></em>, les principaux constructeurs du monde du Jeux Vidéo ne proposent pas de contrôleurs adaptés. Il existe
        cependant des associations, comme <a href="http://handigamer.fr/?rub=bGVzIG1hbmV0dGVz">HandiGamer</a> qui proposent des manettes réarrangé permettant l’accessibilité. Ils
        existent aussi des produits proposé par d’autre compagnie comme le <a href="https://bluelinea.com/handi-joystick-la-manette-adaptee/">Handi Joystick</a> que l’on peut voir être utilisé
        par le streamer et joueur  <em><span class="bold">RockyNoHands</span></em> dans la vidéo ci-dessous.
      </p>
      <a class="evitement btn btn-dark" href="handicap-moteur#after-video1"> Passer la première video</a>
        <iframe width="100%" height="456" src="https://www.youtube.com/embed/ZMvikz2cA-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a id="after-video1"></a>
      <hr>
      <p>Citons enfin le produit Makey Makey qui permet de créer ses propres contrôleurs.</p>
      <a class="evitement btn btn-dark" href="handicap-moteur#after-video2"> Passer la deuxième video</a>
        <iframe width="100%" height="456" src="https://www.youtube.com/embed/rfQqh7iCcOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a id="after-video2"></a>
      <hr>
    </div>
  </div>
</div>
