<!-- Main Content -->
<div class="container">
  <nav aria-label="fil d'ariane">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/index" class="lien">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">L'accessibilité en situation de handicap moteur</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2>Titre de partie 1</h2>
      <h3>Titre secondaire 1</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mi, nec auctor leo. Phasellus rutrum nec nisi ac venenatis. Mauris at condimentum elit. Aliquam placerat felis in dapibus egestas. In at libero tellus. In eleifend nec sem id bibendum. Donec enim justo, aliquam ut maximus sed, vestibulum vehicula purus. <br/> Donec ligula neque, scelerisque vel venenatis eu, porta id massa.
        <br/><br/>In iaculis tincidunt mi, sit amet sollicitudin libero tempus quis. Donec venenatis, nisl quis dictum dictum, felis lectus suscipit enim, ac laoreet dolor libero id eros. In eu neque facilisis, imperdiet sem nec, sodales massa. Pellentesque sed cursus neque, id porttitor leo. Aenean ultrices, tellus vitae lobortis tristique, magna ex scelerisque est, vel cursus dolor metus non quam. Phasellus sed auctor turpis, in ornare massa. Pellentesque ac metus ut felis eleifend tempor in ut turpis. Duis bibendum malesuada lacus nec blandit.
      </p>

      <a class="evitement btn btn-dark" href="page2#after-video1"> Passer la video </a>

      <iframe width="100%" height="456" src="https://www.youtube.com/embed/awXFVKsDXMk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <a id="after-video1"></a>
      <hr>


      <h3>Titre secondaire 2</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mi, nec auctor leo. Phasellus rutrum nec nisi ac venenatis. Mauris at condimentum elit. Aliquam placerat felis in dapibus egestas. In at libero tellus. In eleifend nec sem id bibendum. Donec enim justo, aliquam ut maximus sed, vestibulum vehicula purus. <br/> Donec ligula neque, scelerisque vel venenatis eu, porta id massa.
        <br/><br/>In iaculis tincidunt mi, sit amet sollicitudin libero tempus quis. Donec venenatis, nisl quis dictum dictum, felis lectus suscipit enim, ac laoreet dolor libero id eros. In eu neque facilisis, imperdiet sem nec, sodales massa. Pellentesque sed cursus neque, id porttitor leo. Aenean ultrices, tellus vitae lobortis tristique, magna ex scelerisque est, vel cursus dolor metus non quam. Phasellus sed auctor turpis, in ornare massa. Pellentesque ac metus ut felis eleifend tempor in ut turpis. Duis bibendum malesuada lacus nec blandit.
      </p>

      <a class="evitement btn btn-dark" href="page2#after-video2"> Passer la video </a>

      <iframe width="100%" height="456" src="https://www.youtube.com/embed/ZMvikz2cA-8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <a id="after-video2"></a>
      <hr>

      <h2>Titre de partie 2</h2>
      <h3>Titre secondaire 3</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mi, nec auctor leo. Phasellus rutrum nec nisi ac venenatis. Mauris at condimentum elit. Aliquam placerat felis in dapibus egestas. In at libero tellus. In eleifend nec sem id bibendum. Donec enim justo, aliquam ut maximus sed, vestibulum vehicula purus. <br/> Donec ligula neque, scelerisque vel venenatis eu, porta id massa.
        <br/><br/>In iaculis tincidunt mi, sit amet sollicitudin libero tempus quis. Donec venenatis, nisl quis dictum dictum, felis lectus suscipit enim, ac laoreet dolor libero id eros. In eu neque facilisis, imperdiet sem nec, sodales massa. Pellentesque sed cursus neque, id porttitor leo. Aenean ultrices, tellus vitae lobortis tristique, magna ex scelerisque est, vel cursus dolor metus non quam. Phasellus sed auctor turpis, in ornare massa. Pellentesque ac metus ut felis eleifend tempor in ut turpis. Duis bibendum malesuada lacus nec blandit.
      </p>
      <hr>


      <h3>Titre secondaire 4</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et pretium mi, nec auctor leo. Phasellus rutrum nec nisi ac venenatis. Mauris at condimentum elit. Aliquam placerat felis in dapibus egestas. In at libero tellus. In eleifend nec sem id bibendum. Donec enim justo, aliquam ut maximus sed, vestibulum vehicula purus. <br/> Donec ligula neque, scelerisque vel venenatis eu, porta id massa.
        <br/><br/>In iaculis tincidunt mi, sit amet sollicitudin libero tempus quis. Donec venenatis, nisl quis dictum dictum, felis lectus suscipit enim, ac laoreet dolor libero id eros. In eu neque facilisis, imperdiet sem nec, sodales massa. Pellentesque sed cursus neque, id porttitor leo. Aenean ultrices, tellus vitae lobortis tristique, magna ex scelerisque est, vel cursus dolor metus non quam. Phasellus sed auctor turpis, in ornare massa. Pellentesque ac metus ut felis eleifend tempor in ut turpis. Duis bibendum malesuada lacus nec blandit.
      </p>
    </div>
  </div>
</div>

<hr>
