#messageLabel {
  width: 100%;
}

.alerte {
  padding: 0.2rem;
}

.rouge {
  color:#EE0700;
}

.vert {
  color:#058e00;
}
h2 {
  color: #004f42;
}

h3 {
  color: #108A12;
}

.texte-form {
  font-size: medium;
  font-weight: 500;
}

.list-group-item {
  border: none;
}
